!!
%html
  %head{ lang: 'en' }
    %meta{ charset: 'utf-8' }/
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }/
    %meta{ 'http-equiv': 'X-UA-Compatible', content: 'IE=edge' }/
    %title= content_for?(:title) ? "#{yield(:title)} - TRIRIGA Utilities" : 'TRIRIGA Utilities'
    %meta{ content: content_for?(:description) ? yield(:description) : 'TRIRIGA Utilities', name: 'description' }/
    = csrf_meta_tags
    = action_cable_meta_tag
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/navbar'
    .container-fluid
      = render 'layouts/messages'
      = yield